@import 'reset.scss';

*{
  // outline:1px solid red;
}

body{
  padding-top: 110px;
  @media(max-width:768px){
    padding-top: 70px;
  }
}

.parallax-window {
  // min-height: 400px;
  @media(min-width:1170px){
    background: transparent !important;
  }
}
.parallax-mirror{
  img.parallax-slider{
    height:auto !important;
  }
}

.main-wrapper{
  overflow: hidden;
  
  h3.main-ttl{
    // color:;
    font-size: 34px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
    &.white{
      color:white;
    }
  }
}

header.header{
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  nav.navbar{
    border:0;
    border-radius:0;
    margin: 0;
    padding: 30px;
    background: black;
    @media(max-width:768px){
      padding: 10px;
    }
    .navbar-header{
      button.navbar-toggle{
        @media(max-width:768px){
          margin-right: 0;
        }
      }
      a.navbar-brand{
        img{
          @media(max-width:768px){
            width: 200px;
          }
        }
      }
    }
    .navbar-collapse{
      ul.nav.navbar-nav{
        li{
          a{
            color:white;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 0.2px;
            padding-top: 5px;
            padding-bottom: 5px;
            transition:.3s ease-in-out;
            @media(min-width:992px){
              padding-top: 25px;
              &:hover{
                color:#00ffff;
              }
            }
          }
          &.active{
            a{
              color:#00ffff;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

section.top-banner{
  background: url(../images/top-banner.jpg) top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 835px;
  position: relative;
  @media(max-width:768px){
    background-position: top right;
    height: 500px;
    background-size: 150%;
  }
  @media(max-width:560px){
    height: 400px;
    background-size: 200%;
  }
  @media(max-width:560px){
    height: 350px;
    background-position: -270px 30px;
  }
  @media(max-width:375px){
    background-position: -250px 60px;
  }
  &:before{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 270px;
    bottom: 0;
    left: 0;
    background: rgba(86,116,141,0);
    background: -moz-linear-gradient(top, rgba(86,116,141,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(86,116,141,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(86,116,141,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(86,116,141,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(86,116,141,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(86,116,141,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56748d', endColorstr='#000000', GradientType=0 );
  }
  .top-banner-inner{
    position: relative;
    padding: 0 5%;
    top: 50%;
    transform:translateY(-50%);
    p{
      margin-bottom: 0;
      color:white;
      font-size: 18px;
      line-height: 2;
      span{
        text-transform: uppercase;
        font-size: 32px;
        letter-spacing: -3px;
        &.ls{
          letter-spacing: 3px;
          line-height: 1.5;
        }
      }
    }
  }
}

section.txt-layer{
  background: white;
  padding: 110px 0;
  @media(max-width:768px){
    padding: 50px 0;
  }
  p{
    margin-bottom: 0;
    line-height: 40px;
  }
}

section.service-section{
  background: url(../images/mountain-service.jpg) center center no-repeat;
  background-size: cover;
  padding: 200px 0;
  background-attachment: fixed;
  @media(max-width:768px){
    padding: 50px 0;
  }
  h4{
    color:white;
    font-size: 26px;
  }
  .service-block-wrap{
    display: flex;
    justify-content: space-between;
    @media(max-width:768px){
      flex-direction: column;
    }
    .service-block{
      border:1px solid white;
      padding: 15px 20px;
      margin-bottom: 10px;
      @media(min-width:769px){
        width:32.5%;
        margin-bottom: 0;
      }
      .service-block-inner{
        text-align: center;
        p{
          margin-bottom: 0;
          color:white;
          line-height: 2;
        }
      }
    }
  }
  .offer-help-block{
    padding-top: 30px;
    .offer-row{
      padding-top: 10px;
      ul.offer-list{
        display: flex;
        justify-content: space-between;
        margin: 0;
        @media(max-width:768px){
          flex-direction: column;
          margin-left: 20px;
        }
        li{
          color:white;
          font-size: 14px;
          width: 30%;
          position: relative;
          list-style: disc;
          text-align: left;
          @media(max-width:768px){
            text-align: center;
            width: 100%;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

section.capability-section{
  position: relative;
  background: url(../images/compability-bg.jpg) top center no-repeat;
  background-size: cover;
  padding: 100px 0 300px;
  @media(max-width:1024px){
    padding: 100px 0 150px;
  }
  @media(max-width:768px){
    padding: 50px 0 100px;
  }
  &:before{
    position: absolute;
    content:'';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 250px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  }
  a{
    &.slide-controls{
      position: absolute;
      top: 50%;
      font-size: 50px;
      color:#1e4567;
      width: 60px;
      height: 60px;
      display: inline-block;
      border-radius:50%;
      border:5px solid #1e4567;
      text-align: center;
      @media(max-width:1170px){
        display: none;
      }
      i.fa{
        line-height: 48px;
      }
    }
    &#prevSlide{
      left:5%;
      @media(max-width:1300px){
        left: 2%;
      }
    }
    &#nextSlide{
      right:5%;
      @media(max-width:1300px){
        right: 2%;
      }
    }
  }

  .slider-inner{
    padding-top: 150px;
    @media(max-width:1024px){
      padding-top: 50px;
    }
    @media(max-width:768px){
      padding-top: 0;
    }
    .lSSlideWrapper{
      overflow-y: visible;
      ul.lightSlider{
        overflow-y: visible;
        height: auto !important;
        li{
          background: white;
          border-radius:25px;
          border:12px solid #1e4567;
          padding: 10px 20px;
          text-align: center;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items:center;
          transform:scale(.85) !important;
          transition:.3s ease;
          &.active{
            transform:scale(0.85) !important;
            @media(max-width:768px){
              transform:scale(1) !important;
            }
          }
          &.centerSlide{
            transform:scale(1) !important;
            @media(max-width:768px){
              transform:scale(.85) !important;
            }
          }
          p{
            font-size: 22px;
            line-height: 1.6;
            margin-bottom: 0;
            span{
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

section.approach-section{
  padding: 50px 0;
  background: #f2f2f2;
  .text-block{
    padding: 50px 80px;
    position: relative;
    quotes: "“" "”" "‘" "’";
    @media(max-width:768px){
      padding: 0 30px;
    }
    &:before,
    &:after{
      position: absolute;
      display: inline-block;
      font-size: 150px;
      font-style: italic;
      font-weight: bold;
      color:#f2f2f2;
      text-shadow:0 0 2px black;
      font-family: monospace;
      height: 50px;
      line-height: 80px;
      @media(max-width:768px){
        font-size: 80px;
      }
    }
    &:before{
      content: open-quote;
      top: -20px;
      left: -20px;
    }
    &:after{
      content: close-quote;
      right: -20px;
      bottom: -20px;
      @media(max-width:768px){
        right: 0;
      }
    }
    h5{
      font-size: 24px;
      line-height: 2;
      font-weight: 400;
      margin-bottom: 25px;
      @media(max-width:768px){
        font-size: 20px;
        line-height: 1.5;
      }
    }
    p{
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 2;
      font-weight: 300;
    }
  }
}

section.about-section{
  position: relative;
  min-height: 850px;
  .block-inner{
    padding: 60px 0;
    @media(max-width:768px){
      padding: 40px 0;
    }
    h3.main-ttl{}
    p{
      color:#4c4c4c;
      margin-bottom: 25px;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.8;
    }
    ul.command-list{
      margin-bottom: 25px;
      li{
        color:black;
        line-height: 1.8;
        margin-bottom: 10px;
      }
    }
  }
  .about-flex-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    @media(max-width:768px){
      position: relative;
      width:auto;
    }
  }
  .img-list{
    display: flex;
    flex-direction: column;
    height: 100%;
    @media(max-width:768px){
      height: 100vh;
    }
    .img-wrap{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      height: 50%;
      width: 100%;
    }
  }
}

section.value-section{
  padding: 100px 0;
  background: url(../images/value-bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  height: 60vw;
  @media(max-width:768px){
    height:auto;
  }
  &:before,
  &:after{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 126px;
    left: 0;
  }
  &:before{
    top: 0;
    background: rgba(86,116,141,1);
    background: -moz-linear-gradient(top, rgba(86,116,141,1) 0%, rgba(86,116,141,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(86,116,141,1)), color-stop(100%, rgba(86,116,141,0)));
    background: -webkit-linear-gradient(top, rgba(86,116,141,1) 0%, rgba(86,116,141,0) 100%);
    background: -o-linear-gradient(top, rgba(86,116,141,1) 0%, rgba(86,116,141,0) 100%);
    background: -ms-linear-gradient(top, rgba(86,116,141,1) 0%, rgba(86,116,141,0) 100%);
    background: linear-gradient(to bottom, rgba(86,116,141,1) 0%, rgba(86,116,141,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56748d', endColorstr='#56748d', GradientType=0 );
  }
  &:after{
    bottom: 0;
    background: rgba(86,116,141,1);
    background: -moz-linear-gradient(top, rgba(86,116,141,0) 0%, rgba(86,116,141,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(86,116,141,0)), color-stop(100%, rgba(86,116,141,1)));
    background: -webkit-linear-gradient(top, rgba(86,116,141,0) 0%, rgba(86,116,141,1) 100%);
    background: -o-linear-gradient(top, rgba(86,116,141,0) 0%, rgba(86,116,141,1) 100%);
    background: -ms-linear-gradient(top, rgba(86,116,141,0) 0%, rgba(86,116,141,1) 100%);
    background: linear-gradient(to bottom, rgba(86,116,141,0) 0%, rgba(86,116,141,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56748d', endColorstr='#56748d', GradientType=0 );
  }
  p{
    font-size: 30px;
    font-weight: 300;
    line-height: 1.5;
    b{
      font-weight: 400;
    }
  }
}

section.txt-about-block{
  background: #f2f2f2;
  padding: 80px 0;
  @media(max-width:768px){
    padding: 40px 0;
  }
  h5{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    b{
      font-weight: 400;
    }
  }
  p{
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.8;
    font-weight: 300;
  }
}

section.latest-profect{
  padding: 80px 0;
  @media(max-width:768px){
    padding: 20px 0;
  }
  h3.main-ttl{
    text-align: center;
    text-transform: inherit;
    margin-bottom: 25px;
  }
  ul.project-list{
    @media(max-width:768px){
      margin-left: 20px;
    }
    li{
      list-style: disc;
      line-height: 2;
      padding-left: 15px;
      font-weight: 300;
    }
  }
}

section.logos-slider-block{
  padding: 180px 0;
  background: url(../images/logos-bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  @media(max-width:768px){
    padding: 100px 0;
  }
  @media(max-width:560px){
    padding: 60px 0;
  }
  &:before{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 180px;
    left: 0;
    top: 0;
    background: rgba(86,116,141,1);
    background: -moz-linear-gradient(top, rgba(86,116,141,1) 0%, rgba(86,116,141,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(86,116,141,1)), color-stop(100%, rgba(86,116,141,0)));
    background: -webkit-linear-gradient(top, rgba(86,116,141,1) 0%, rgba(86,116,141,0) 100%);
    background: -o-linear-gradient(top, rgba(86,116,141,1) 0%, rgba(86,116,141,0) 100%);
    background: -ms-linear-gradient(top, rgba(86,116,141,1) 0%, rgba(86,116,141,0) 100%);
    background: linear-gradient(to bottom, rgba(86,116,141,1) 0%, rgba(86,116,141,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56748d', endColorstr='#56748d', GradientType=0 );
  }
  .logos-slider-inner{
    width: 90%;
    margin-left: 5%;
    ul#logosSlider{
      li{
        width: 300px;
        height: 120px;
        background: white;
        text-align: center;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          max-height:100%;
          max-width: 100%;
        }
      }
    }
  }
}

section.what-they-say-block{
  padding: 30px 0;
  background: url(../images/wts-bg-top-right.png) 5% 25% no-repeat,
  url(../images/wts-bg-top-right.png) -2% 62% no-repeat,
  url(../images/wts-bg-top-left.png) -4% 65% no-repeat,
  url(../images/wts-bg-top-left.png) 0 30% no-repeat,
  url(../images/wts-bg-bottom-right.png) 92% 80% no-repeat,
  url(../images/wts-bg-top-left.png) right 20% no-repeat,
  url(../images/wts-bg-bottom-left.png) right 73% no-repeat, #333;
  background-size: 20%, 15%, 28%, 12.5%, 28%, 34%, 12.5%;
  h3.main-ttl{
    text-transform: inherit;
    font-weight: 300;
  }
  .what-slider-wrapper{
    padding-top: 50px;
    @media(max-width:768px){
      padding-top: 0;
    }
    .lSSlideOuter{
      .lSSlideWrapper{
        // padding-bottom: 120px;
        min-height:300px;
        .lightSlider{
          margin-bottom: 20px;
        }
      }
      ul.lSPager.lSpg{
        >li{
          a{
            width: 14px;
            height: 14px;
            background: transparent;
            border:1px solid #808080;
          }
          &.active{
            a{
              background: #808080;
            }
          }
        }
      }
    }
    .slideTxt{
      display: flex;
      @media(max-width:768px){
        flex-direction: column;
      }
      p{
        color:white;
        margin-bottom: 0;
        line-height: 1.3;
      }
      .leftTxt{
        min-width: 60%;
        padding: 0 10px;
        border-right:1px solid rgba(255,255,255,.3);
        text-align: right;
        @media(max-width:768px){
          border-top:1px solid rgba(255,255,255,.3);
          border-right:0;
          padding: 10px 0;
          order:2;
        }
        p{
          font-size: 14px;
        }
      }
      .rightTxt{
        min-width: 40%;
        padding: 0 10px;
        text-align: left;
        @media(max-width:768px){
          text-align: right;
          padding: 10px 0;
          order:1;
        }
        p{
          font-size: 16px;
          span{
            font-size: 20px;
          }
        }
      }
    }
  }
}

section.contact-layer{
  padding: 30px 0;
  background: #f7f7f7;
  h3.main-ttl{
    text-transform: inherit;
    font-weight: 300;
  }
  p{
    margin-bottom: 20px;
  }
  form{
    .form-group{
      @media(max-width:768px){
        margin-bottom: 0;
      }
      .form-control{
        @media(max-width:768px){
          margin-bottom: 15px;
        }
      }
    }
    button.btn{
      color:white;
      background: #787878;
      text-transform: uppercase;
      font-weight: bold;
      &:hover{
        @media (min-width:992px){
          background: rgba(120,120,120,.8);
        }
      }
    }
  }
}

footer.footer{
  background: #333;
  padding: 20px;
  font-size: 14px;
  font-weight: 300;
  p.copyright{
    color: white;
    margin-bottom: 0;
  }
}